
/* CSS */
.MainContainer {
    position: relative;
    background: url('../../assets/background.jpg') center/cover no-repeat ;
    width: 100%;
    height: 100%; /* Set the desired height */
  }
  
  .MainContainer::before {
    content: "";
    background: rgba(46,47,63,0.9); /* Black background with 0.5 opacity */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
