
/* CSS */
.MainContainer {
    position: relative;
    background: 
        /* top, transparent */
        linear-gradient(rgba(46,47,63,0.9) 0%, rgba(46,47,63,0.9) 100%),
        /* bottom, image */
    url('../../assets/background.jpg');
    background-size: cover;  
    background-repeat: no-repeat;
  }
  
