/* CSS */
.Head {
    position: relative;
    background: 
        /* top, transparent */
        linear-gradient(rgba(248,247,243,0.9) 0%, rgba(248,247,243,0.9) 100%),
        /* bottom, image */
    url('../../assets/background-5.jpg');
    background-size: cover; 
    background-position: bottom center; 
    background-repeat: no-repeat;
    height: 450px;
  }