.diamond{
    max-width: 150px;
    position: absolute;
    top: -18px; 
    left: -50px; 
}
.diamond-1{
    max-width: 100px;
    position: absolute;
    bottom: -10px; 
    right: -10px; 
}

.image-down{
    transform: rotate(20deg)
}

.card-body{
    position: relative;
}

.MainContainer {

    position: relative;
    background: 
    linear-gradient(rgba(46,47,63,0.9) 0%, rgba(46,47,63,0.9) 100%),
    url('../../assets/Login1.jpg');
    background-size: cover;
    background-repeat: no-repeat;

  }